{% extends 'base.html.twig' %}

{% block body %}

    <div class="container mt-4">
    <h1 class="mb-3">{{ category.name}}</h1>
        <nav class="mb-5" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{{ path('app_category', { slug : category.slug}) }}" class="text-warning-emphasis">
                        {{ category.name }}
                    </a>
                </li>
                <li class="breadcrumb-item active" aria-current="page"></li>
            </ol>
        </nav>
        <p>Cette categorie contient {{category.products|length }} produit(s).</p>
        <div class="row">
            {% for product in category.products %}
                <div class="card col-md-3 border-dark me-3 text-center">
                    <a href="{{ path('app_product', {'slug': product.slug}) }}">
                        <img src="/uploads/{{ product.illustration }}" 
                            class="card-img-top rounded mx-auto d-block" 
                            alt="{{ product.name }}" 
                            style="width: 150px; height: 150px; object-fit: cover;"
                        >
                    </a>
                    <div class="card-body">
                        <h5 class="card-title text-warning-emphasis">{{product.name}}</h5>
                    </div>
                    <div class="card-footer">
                        <small class="text-body-secondary">Prix : {{product.pricewt}} €</small>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
