{% extends 'base.html.twig' %}

{% block body %}
<div class="container my-5 ">
    <h1 class="my-5">Connexion</h1>

    {% if error %}
        <div class="my-3 text-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form action="{{ path('app_login') }}" method="post">

        <label for="username" class="form-label">Votre email:</label>
        <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" required>

        <label for="password" class="form-label mt-3">votre mots de passe:</label>
        <input class="form-control" type="password" id="password" name="_password" required>

        {# If you want to control the URL the user is redirected to on success #}
        <input type="hidden" name="_target_path" value="{{ path('app_account') }}">

        <button type="submit" class="my-3 btn btn-outline-success">Me connecter</button>
    </form>
    </br>
    <a class="btn btn-outline-primary" role="button" href="{{ path('app_register') }}">
        M'inscrire
    </a>
</div>
    
{% endblock %}
